<div>
	
	<h1>{{name}}</h1>
	<div ng-hide='loaded'>Loading</div>
	<div ng-show='loaded'>
		<span ng-show="tracks.length == 0">The look up returned no results</span>
		<table ng-show="tracks.length > 0" class="table table-striped table-hover">
			<thead>
				<tr>
					<th>Favorite?</th>
					<th>Name</th>
					<th>Length (sec)</th>
					<th>Popularity</th>
				</tr>
			</thead>
			<tbody>
				<tr ng-repeat='track in tracks'>
					<td><span class="glyphicon glyphicon-heart"></span></td>
					<td><a href="/#/album/{{album.album.href}}">{{track.name}}</a></td>
					<td>{{track.length}}</td>
					<td>{{track.popularity}}</td>
				</tr>
			</tbody>
		</table>
	</div>
</div>